<br>
<h2 style="text-align: center; text-wrap: balance;">Hola {{token.user.nick}} estas en el Subastón <br>
  donde puedes vender y comprar en tiempo real</h2>

<br><br>

<div class="grid">
  <div class="md:col-2 lg:col-2"></div>
  <div class="col-12 md:col-2 lg:col-2">
    <b>{{ usuariosEnLinea() | usersLinea }}</b>
  </div>
  <div class="col-6 md:col-3 lg:col-3">
    <p-button label="Subastas En Espera" (onClick)="mostrarSubastasEnEsperas()"></p-button>

  </div>
  <div class="col-6 md:col-3 lg:col-3">
    <p-button label="Subastas En Linea" (onClick)="mostrarSubastasEnLinea()"></p-button>
  </div>


</div>

<div class="grid">
  <div class="md:col-2 lg:col-2"></div>
  <div class="col-12 md:col-8 lg:col-8">
    @if(mostrarSubastasEnEspera()){
    <app-subastas-en-espera [subastasEnEspera]="productosSubastas"></app-subastas-en-espera>
    }
    @if(mostrarSubastasLinea()){
    <app-subastas-en-linea [subastasEnLinea]="productosSubastas"></app-subastas-en-linea>
    }
  </div>

</div>
