<p-table [value]="productos" [tableStyle]="{ 'min-width': '20rem' }" [scrollable]="true" scrollHeight="280px">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Antiguedad</th>
      <th>Cantidad</th>
      <th>Precio Base</th>
      <th>Estado</th>
      <th>Inicia En</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-producto>

    <tr>
      <td>{{ producto.nombre_product | uppercase }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.antiguedad }}</td>
      <td>{{ producto.cantidad }}</td>
      <td>{{ producto.precio_base | number : "1.0-0" }}</td>
      <td>{{ producto.estado_mostrador }}</td>
      <td>
        {{ producto.fecha_subasta | countdown:producto.hora_subasta }}
      </td>
      <td><p-button icon="pi pi-pencil"></p-button></td>
      <td><p-button (onClick)="eliminarProducto(producto.pk_prod, producto.nombre_product)" styleClass="p-button-danger"
          icon="pi pi-trash"></p-button></td>
    </tr>

  </ng-template>
</p-table>
