<br>
<p-card header="Producto A Subastar">
  <form>
    <div class="grid">
      <div class="col-6 md:col-6 lg:col-4">
        <label for="nomb_product" class="block text-900 font-medium mb-2">Nombre</label>
        <input id="nomb_product" type="text" class="p-inputtext custom-input">
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="precio_base" class="block text-900 font-medium mb-2">Precio Base</label>
        <input id="precio_base" type="number" class="p-inputtext custom-input">
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="cantida" class="block text-900 font-medium mb-2">Cantidad</label>
        <input id="cantida" type="number" class="p-inputtext custom-input">
      </div>
    </div>
    <div class="grid">
      <div class="col-6 md:col-6 lg:col-4">
        <label for="categor" class="block text-900 font-medium mb-2">Categoria</label>
        <div class="select-container">
          <select class="custom-select" name="" id="categor">
            <option value="">Seleccione</option>
          </select>
        </div>
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="rango_prec" class="block text-900 font-medium mb-2">Rango Precio</label>
        <div class="select-container">
          <select class="custom-select" name="" id="rango_prec">
            <option value="">Seleccione</option>
          </select>
        </div>
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="ubicacion" class="block text-900 font-medium mb-2">Ubicación</label>
        <div class="select-container">
          <select class="custom-select" name="" id="ubicacion">
            <option value="">Seleccione</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-6 md:col-6 lg:col-4">
        <label for="fecha" class="block text-900 font-medium mb-2">Fecha</label>
        <input type="date" name="" id="fecha" class="custom-datepicker">
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="hora" class="block text-900 font-medium mb-2">Hora</label>
        <input type="time" id="hora" class="styleHora">
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="estado" class="block text-900 font-medium mb-2">Estado</label>
        <div class="select-container">
          <select class="custom-select" name="" id="estado">
            <option value="">Seleccione</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-6 md:col-6 lg:col-4">
        <label for="antigue" class="block text-900 font-medium mb-2">Antiguedad</label>
        <textarea rows="3" cols="30" id="antigue" pInputTextarea></textarea>
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <label for="descrip" class="block text-900 font-medium mb-2">Descripción</label>
        <textarea rows="3" cols="30" id="descrip" pInputTextarea></textarea>
      </div>
      <div class="col-6 md:col-6 lg:col-4">

      </div>
    </div>
    <div class="grid">
      <div class="col-6 md:col-6 lg:col-4">
        <p-button label="Crear Ubicación"></p-button>
      </div>
      <div class="col-6 md:col-6 lg:col-4">
        <p-button label="Guardar"></p-button>
      </div>
      <div class="col-6 md:col-6 lg:col-4">

      </div>
    </div>
  </form>
</p-card>